* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    outline: solid black;
    width: 400px;
    height: 400px;
}

.pixel {
    box-sizing: border-box;
    border: solid 1px #000;
}